<div class="row">
    <% Character.all.each do |e| %>
        <div class="col-4 mb-3">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nombre: </strong><%= e.name %></li>
                <li class="list-group-item"><strong>Localizacion: </strong><%= e.location %></li>
                <li class="list-group-item"><strong>Casa: </strong><%= e.house %></li>
            </ul>
        </div>
    <% end %>
</div>

